#the_title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    color: plum;
    border-style: dotted;
    border-color: blueviolet;
    width: 30%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#featured_fields3 {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: #8c1514;
    border-radius: 25px;
    background-color: lightyellow;
}

textarea {
    width: 30%;
    height: 5vh;
   

    
    }

#headline1 {
    text-align: center;
    padding: 8px;
    margin: 1px;
    font-family: fantasy;
    font-size: larger;
}